.mylogo {
    width: 60px;
    margin:0px;
    float:none;
    padding:top -6px;
    height: var(--wordmark-height);
    display: block;
    box-sizing: border-box;
}

.body{
    background-color:rgb(252, 243, 244) ;
}

.container {
    position: relative;
    height: 10%;
}

.my-heading{

    position:padding left 20px;

}

.topline{

    background-color: rgb(55, 1, 1);
    color:rgb(255, 255, 255);
    border:none;
    height: 20px;
    border-radius: 5px;
    padding: .25rem.6875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    position: absolute;
       
   
    left:600px;  /* Shift right */
    top: 10px ;
    
    margin-left: 0px;
    margin-top: 5px;
    min-height: 30px;
    font-size: var(--typography-sans-100-medium-font-size);
    line-height: var(--typography-sans-100-medium-line-height);

}


.topline2{
    background-color: rgb(55, 1, 1);
    color:rgb(255, 255, 255);
    border:none;
    height: 20px;
    border-radius: 5px; 

 padding: .25rem.6875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
       
   
    left:600px;  /* Shift right */
    top: 0px ;
    margin-top: 5px;
    min-height: 30px;
    font-size: var(--typography-sans-100-medium-font-size);
    line-height: var(--typography-sans-100-medium-line-height);

}
}